<h4>Enter ingridients:</h4>
<form class="ingridient-form" (ngSubmit)="saveIngridient()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="ingridient.name" name="name" required>
    </div>
    <div class="form-group">
        <label for="calories">Calories:</label>
        <input type="number" class="form-control" id="calories" placeholder="Calories" [(ngModel)]="ingridient.calories" name="calories" required>
    </div>
    <div class="form-group">
        <label for="carbohydrates">Carbohydrates:</label>
        <input type="number" class="form-control" id="carbohydrates" placeholder="Carbohydrates" [(ngModel)]="ingridient.carbohydrates" name="carbohydrates" required>
    </div>
    <div class="form-group">
        <label for="fats">Fats:</label>
        <input type="number" class="form-control" id="fats" placeholder="Fats" [(ngModel)]="ingridient.fats" name="fats" required>
    </div>
    <div class="form-group">
        <label for="protein">Protein:</label>
        <input type="number" class="form-control" id="protein" placeholder="Protein" [(ngModel)]="ingridient.protein" name="protein" required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
