<app-header-home></app-header-home>
<div class="bienvenida">
    <div class="bienvenida_pic">
    </div>
    <div class="message">
        <h1>Quienes Somos</h1>
        <p>En DietAI, contamos con un equipo de expertos compuesto por dietistas y entrenadores certificados, todos apasionados por el fitness y comprometidos con tu éxito.</p>


    </div>

</div>
<div class="info">
    <div class="text">
    <br/>
    <div class="quienesSomos1">
        <div class="img1"></div>
        <p>
            <strong>¿Qué Ofrecemos?</strong><br/><br/>
            Planes de Entrenamiento Personalizados: Diseñados por entrenadores certificados, adaptados a tu nivel y objetivos.<br/>
            Asesoramiento Nutricional: Nuestros dietistas te proporcionan planes de alimentación equilibrados y personalizados.<br/>
            Seguimiento y Motivación: Te acompañamos en cada paso de tu progreso, ajustando tu plan según tus necesidades.<br/> 
        </p>
    </div>
    <br/><br/><br/>
    <br/>
    <div class="quienesSomos2">
        <div class="img2"></div>
        <p>
            <strong>Nuestra Misión</strong><br/><br/>
            En Dietai, creemos que el camino hacia una vida saludable debe ser accesible, agradable y adaptado a cada individuo. 
            Trabajamos día a día para ofrecerte una experiencia completa y de calidad, que te motive y te guíe hacia una mejor versión de ti mismo.<br/>
            ¡Únete a nosotros y comienza tu viaje hacia un estilo de vida más activo y saludable hoy mismo!
        </p>
    </div>
    </div>
    
</div>
<br/><br/><br/>

<app-footer></app-footer>

