<div class="bienvenida">
    <div class="bienvenida_pic">
        <p>hola aquí hay una foto</p>
    </div>
    <div class="message">
        <h1>bienvenida works!</h1>
        <p>Tu asistente personal de entrenamiento y nutrición</p>
        <p>
            Entrenamientos personalizados, dietas, lista de compras y recetas
            adaptadas a ti.
        </p>
        <p>
            Entrena en casa, al aire libre, con o sin material. Pierde peso,
            tonifica y más.
        </p>
    </div>
</div>
