<div class="bienvenida">
    <div class="bienvenida_pic">
    </div>
    <div class="message">
        <h1>Bienvenido a tu app de entrenamiento</h1>
        <p>Tu asistente personal de entrenamiento y nutrición</p>
        <p>
            Entrenamientos personalizados, dietas, lista de compras y recetas
            adaptadas a ti.
        </p>
        <p>
            Entrena en casa, al aire libre, con o sin material. Pierde peso,
            tonifica y más.
        </p>
    </div>
</div>
<img src="../../../assets/IMG/onda.svg" class="onda" alt="">
