
<div class="headerBg">
    <header class="fixed-header">
    <div class="logo-container">
        <h1>DietAI Trainer</h1>
    </div>
    <nav>
        <ul>
            <li><a role="button" data-bs-toggle="modal"
                data-bs-target="#updateProfileModal">Profile</a></li>
            <li><a role="button" (click)="logout()">Log out</a></li>
            <li><a href="/quienesSomos">Quienes somos</a></li>
            <li><a href="/contacto">Contáctanos</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>
</div>