/* titulo DIETAI header */
header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 3rem;
    background-color: #38686A;
    align-items: center;
    padding: 10px 20px;
    height: 6rem;
}

.header {
  color: aliceblue;

}
h1 > a:active, h1 > a:hover, h1 > a:visited, h1 > a:link {
  text-decoration: none;
  color: var(--bs-heading-color);
}




.headerBg{
    background-image: url(../../../assets/IMG/home-bc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 60vh;
}

.fixed-header {
    position: relative;
}
/* MENU NAVEGACIÓN SUPERIOR DERECHA */
.fixed-header nav{
    width: fit-content;
}

.fixed-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin:0;
}

.fixed-header nav ul li {
  margin-right: 20px;
}

.fixed-header nav a {
    text-decoration: none;
    color: aliceblue;
    /* color: #000000; */
}

.menu-icon {
    display: none;
}

/* FIN MENÚ NAVEGACIÓN SUPERIOR DERECHA */
  

/* *Media query para pantallas pequeñas* */
@media screen and (max-width: 768px) {
    /* Ocultar el menú de navegación normal */
    .fixed-header nav {
      display: none;
    }
  
    /* Estilos para el botón de menú hamburguesa */
    .menu-icon {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 1.5rem;
      padding: 10px;
    }
  
    /* Estilos para el menú desplegable */
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 99%;
      right: 0;
      z-index: 1120;
      width: 100%;
      background-color: #38686A;
      padding: 0;
      width: fit-content;
    }
  
    /* Mostrar el menú desplegable cuando el botón de menú hamburguesa es clickeado */
    .dropdown-menu.active {
      display: block !important;
    }
  
    /* Estilos para los enlaces en el menú desplegable */
    .dropdown-menu a {
      text-align: center;
      display: block;
      text-decoration: none;
      color: white;
      padding: 0.5rem; 
    }

    .dropdown-menu a:hover {
      background-color: #79b7b9;
      color: black;
      
    }
  }
  