
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 3rem;
    background-color: rgb(107, 107, 107);
    
    

}

.headerBg{
    background-image: url(../../../assets/IMG/home-bc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 70vh;
    color: aliceblue;
}

/* MENU NAVEGACIÓN SUPERIOR DERECHA */
.fixed-header nav{
    width: fit-content;
}

.fixed-header nav ul {
    list-style: none;
    display: flex;
}

.fixed-header nav ul li {
    margin-right: 10px;
}

.fixed-header nav a {
    text-decoration: none;
    color: aliceblue;
    /* color: #000000; */
}

/* FIN MENÚ NAVEGACIÓN SUPERIOR DERECHA */
  