<div class="header" [ngClass]="{'headerBg': enableBackground}">
    <header class="fixed-header">

        <div class="logo-container">
            <h1><a href="/">DietAI Trainer </a></h1>
        </div>
        <nav>
            <ul>
                <li *ngIf="isLoggedIn"><a href="/home">Perfil</a></li>
                <li *ngIf="isLoggedIn"><a role="button" (click)="logout()">Cerrar sesión</a></li>
                <li *ngIf="!isLoggedIn"><a href="/login">Iniciar sesión</a></li>
                <li *ngIf="!isLoggedIn"><a href="/register">Crear cuenta</a></li>
                <li><a href="/quienesSomos">Quienes somos</a></li>
                <li><a href="/blog">Blog</a></li>
                <li *ngIf="isAdmin"><a href="/admin">Panel Admin</a></li>
            </ul>
        </nav>

        <!-- Menú hamburguesa -->
        <div role="button" class="menu-icon" (click)="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <!-- Menú desplegable -->
        <div class="dropdown-menu" [ngClass]="{'active': menuActive}">
            <a *ngIf="isLoggedIn" role="button" data-bs-toggle="modal" data-bs-target="#updateProfileModal" href="/home">
            Perfil</a>
            <a *ngIf="isLoggedIn" role="button" (click)="logout()">Cerrar sesión</a>
            <a *ngIf="!isLoggedIn" href="/login">Iniciar sesión</a>
            <a *ngIf="!isLoggedIn" href="/register">Crear cuenta</a>
            <a href="/quienesSomos">Quienes somos</a>
            <a href="/blog">Blog</a>
            <ng-container *ngIf="isAdmin">
                <a href="/admin">Panel Admin</a>
            </ng-container>
        </div>
    </header>

</div>