/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    border-radius: 25px;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: #fafafa;
    border: 2px solid #468486;
    color: black;
}

.btn.btn-primary:hover {
    background-color: #468486;
    border: 2px solid #468486;
    color: white;
}

.btn.btn-icon {
    padding: 0;
    line-height: 16px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

/**SCROLLBAR CSS**/
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de scroll vertical */
    height: 12px; /* Alto de la barra de scroll horizontal */
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #38686A; /* Color del "pulgar" */
    border-radius: 10px; /* Borde redondeado del pulgar */
    border: 3px solid #f1f1f1; /* Borde alrededor del pulgar */
}

/* Color del pulgar cuando se pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}