<div class="container">
    <h3>Utilidades</h3>
    <div class="arcoContainer">
        <div class="arco-div">
            <div class="arco1"></div>
            <h6>Dietas</h6>
        </div>
        <div class="arco-div">
            <div class="arco2"></div>
            <h6>Entrenamientos</h6>
        </div>
        <div class="arco-div">
            <div class="arco3"></div>
            <h6>Listas de la compra</h6>
        </div>
        <div class="arco-div">
            <div class="arco4"></div>
            <h6>Recetas</h6>
        </div>
    </div>
</div>

