<div class="info">
    <h3>Transforma tu Vida con Dietai</h3>
    <div class="text">
        <p>
            Dietai es tu asistente personal para una vida más saludable. Después de rellenar un formulario, la aplicación genera ejercicios personalizados y dietas adaptadas a tus necesidades. Además, cada dieta incluye recetas detalladas, con información sobre ingredientes, calorías y una lista de la compra. También puedes buscar ejercicios específicos y acceder a un blog con consejos útiles. Con Dietai, mejorar tus hábitos de entrenamiento y nutrición nunca ha sido tan fácil y efectivo. Empieza hoy a transformar tu salud con planes diseñados especialmente para ti.
        </p>
    <br/>
        <p>
            Con Dietai, cada receta es cuidadosamente seleccionada para garantizar que obtengas los nutrientes que necesitas sin sacrificar el sabor. La lista de la compra integrada facilita la planificación de tus comidas, asegurándote que siempre tengas a mano los ingredientes necesarios. Además, puedes explorar una variedad de ejercicios específicos que se adapten a tus preferencias y necesidades, haciendo de tu rutina de entrenamiento algo dinámico y emocionante.
        </p>
    </div>
</div>
