<div class="info">
    <h3>Yo que se</h3>
    <div class="text">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur inventore laborum ex, vitae harum animi, numquam, totam
            deserunt repudiandae assumenda officia. Natus tenetur rem eveniet.
            Praesentium iure aperiam quos id?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repellendus eius ipsam doloremque ullam molestias omnis in magnam
            accusamus quasi iure. Deserunt quam ipsam, quae consequuntur
            accusantium quisquam laborum doloribus minus?
        </p>
    </div>
</div>
