<h1>Administrar Entrenamiento</h1>
<div class="container">
    <div class="father">
        <form (submit)="saveTraining()">
            <label for="name">Nombre:</label><br />
            <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="training.name"
                required
            /><br />

            <label for="typeTraining">Tipo de Entrenamiento:</label><br />
            <select id="typeTraining" name="typeTraining" [(ngModel)]="training.typeTraining" required>
                <option value=""></option>
                <option *ngFor="let item of typeTraining" value="{{item}}">{{item | transformadorEnum}}</option>
            </select>
            <br />

            <label for="difficulty">Dificultad:</label><br />
            <input
                type="number"
                id="difficulty"
                name="difficulty"
                min="0"
                max="10"
                [(ngModel)]="training.difficulty"
                required
            /><br />

            <label for="days">Días:</label><br />
            <input
                type="number"
                id="days"
                name="days"
                min="1"
                max="7"
                [(ngModel)]="training.days"
                required
            /><br />

            <label for="distribution">Distribución:</label><br />
            <input
                type="text"
                id="distribution"
                name="distribution"
                [(ngModel)]="training.distribution"
                required
            /><br />

            <button type="submit" class="btn btn-primary mt-2">
                Guardar Entrenamiento
            </button>
        </form>
    </div>
    <div class="child">
        <form (submit)="addExercise()" #trainingExerciseForm="ngForm">
            <div class="form-group col-md-6">
                <label for="exercise">Ejercicios Similares:</label>
                <select
                    name="exercise"
                    id="exercise"
                    class="form-control"
                    ngModel
                >
                    <option *ngFor="let item of exercises" [ngValue]="item">
                        {{ item.name }}
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">
                Guardar ejercicio
            </button>

            <ul class="list-group mt-3">
                <li
                    class="list-group-item"
                    *ngFor="let addedExercise of exerciseInTraining"
                >
                    {{ addedExercise.name }}
                </li>
            </ul>
            <button class="btn btn-danger mt-3" (click)="limpiarLista()">
                Limpiar lista
            </button>
        </form>
    </div>
</div>
