<h1>Administrar Entrenamiento</h1>
<div class="container">
    <div class="father">
        <form (submit)="saveTraining()">
            <label for="name">Nombre:</label><br />
            <input type="text" id="name" name="name" [(ngModel)]="training.name" required /><br />

            <label for="typeTraining">Tipo de Entrenamiento:</label><br />
            <select id="typeTraining" name="typeTraining" [(ngModel)]="training.typeTraining" (change)="onTrainingSelected()" required>
                <option value=""></option>
                <option *ngFor="let item of typeTraining" value="{{item}}">{{item | transformadorEnum}}</option>
            </select>
            <br />

            <label for="difficulty">Dificultad:</label><br />
            <input type="number" id="difficulty" min="0" max="5" name="difficulty" [(ngModel)]="training.difficulty" required /><br />

            <label for="days">Días:</label><br />
            <input type="number" id="days" name="days" [(ngModel)]="training.days" required /><br />

            <label for="distribution">Distribución:</label><br />
            <input type="text" id="distribution" name="distribution" [(ngModel)]="training.distribution"
                required /><br />

            <button type="submit" class="btn btn-primary mt-2">
                Guardar Entrenamiento
            </button>
        </form>
        <ul class="list-group mt-6">
            <li class="list-group-item" *ngFor="let addedExercise of exercisesInTraining">
                {{ addedExercise.exercise.name }} - {{ addedExercise.reps }}x{{ addedExercise.sets }} 
                - {{ addedExercise.orderWeek }} dia {{ addedExercise.orderDay }} lugar
            </li>
        </ul>
    </div>
    <div class="child">
        <form (submit)="addExercise()">
            <div class="form-group select-group">
                <label for="muscle">Músculos involucrados</label>
                <ngx-select-dropdown [(ngModel)]="filterMuscle" name="muscle" (change)="onTrainingSelected()"
                    [config]="{displayKey: 'name',  search: true, placeholder:'Selecionar'}" [multiple]="true"
                    [options]="muscle" class="w-100"></ngx-select-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="exercise">Ejercicios:</label>
                <select name="exercise" id="exercise" class="form-control"  [(ngModel)]="exerciseInTraining.exercise">
                    <option *ngFor="let item of exercises" [ngValue]="item">
                        {{ item.name }}
                    </option>
                </select>
            </div>

            <label for="reps">Reps:</label><br />
            <input type="number" id="reps" name="reps" [(ngModel)]="exerciseInTraining.reps" required /><br />

            <label for="sets">Sets:</label><br />
            <input type="sets" id="sets" name="sets" [(ngModel)]="exerciseInTraining.sets" required /><br />

            <label for="orderDay">Orden para realizarlo (dia)</label><br />
            <input type="number" id="orderDay" name="orderDay" min="1" [(ngModel)]="exerciseInTraining.orderDay" required /><br />
            
            <label for="orderWeek">Orden para realizarlo (semana)</label><br />
            <input type="number" id="orderWeek" name="orderWeek" min="1" [(ngModel)]="exerciseInTraining.orderWeek" required /><br />
            <button type="submit" class="btn btn-primary mt-2">
                Guardar ejercicio
            </button>
            <button class="btn btn-danger mt-3" (click)="limpiarLista()">
                Limpiar lista
            </button>
        </form>
    </div>
</div>
<form class="exercise-select-form" (ngSubmit)="deleteTraining()">
    <div class="form-group">
        <label for="trainingSelect">Selecciona un entrenamiento para eliminarlo:</label>
        <select class="form-control" id="trainingSelect" [(ngModel)]="selectedTrainingId" name="trainingSelect">
            <option *ngFor="let training of trainings" [value]="training.idTraining">{{ training.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>