<h1>Administrar Entrenamiento</h1>
<div class="container">
    <div class="father">
        <form (submit)="saveTraining()">
            <div class="form-group row">
                <label for="name" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="training.name" required />
            </div>

            <div class="form-group row">

                <label for="typeTraining" class="form-label">Tipo de Entrenamiento:</label>
                <select id="typeTraining" class="form-control" name="typeTraining" [(ngModel)]="training.typeTraining"
                    (change)="onTrainingSelected()" required>
                    <option *ngFor="let item of typeTraining" value="{{item}}">{{item | transformadorEnum}}</option>
                </select>
            </div>

            <div class="form-group row">
                <label for="difficulty" class="form-label">Dificultad:</label>
                <input type="number" class="form-control" id="difficulty" min="1" max="5" name="difficulty"
                    [(ngModel)]="training.difficulty" required />
            </div>
            <div class="form-group row">

                <label for="days" class="form-label">Días:</label>
                <input type="number" class="form-control" id="days" min="1" max="7" name="days" [(ngModel)]="training.days" required />

            </div>

            <div class="form-gruop row">
                <label for="distribution" class="form-label">Distribución:</label>
                <input type="text" class="form-control" id="distribution" name="distribution"
                    [(ngModel)]="training.distribution" required />
            </div>

            <button type="submit" class="btn btn-primary mt-2">
                Guardar Entrenamiento
            </button>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
                <button type="button" (click)="clearErrorMessage()" class="btn btn-danger btn-icon mt-2 close">
                    <span class="fas fa-times-circle"></span>
                </button>
            </div>
        </form>
        <ul class="list-group mt-6">
            <li class="list-group-item" *ngFor="let addedExercise of exercisesInTraining">
                {{ addedExercise.exercise.name }} - {{ addedExercise.reps }}x{{ addedExercise.sets }}
                - {{ addedExercise.orderWeek }} dia {{ addedExercise.orderDay }} lugar
            </li>
        </ul>
    </div>
    <div class="child">
        <form (submit)="addExercise()">
            <div class="form-group select-group">
                <label for="muscle">Músculos involucrados</label>
                <ngx-select-dropdown [(ngModel)]="filterMuscle" name="muscle" (change)="onTrainingSelected()"
                    [config]="{displayKey: 'name',  search: true, placeholder:'Selecionar'}" [multiple]="true"
                    [options]="muscle" class="w-100"></ngx-select-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="exercise">Ejercicios:</label>
                <select name="exercise" id="exercise" class="form-control" [(ngModel)]="exerciseInTraining.exercise">
                    <option *ngFor="let item of exercises" [ngValue]="item">
                        {{ item.name }}
                    </option>
                </select>
            </div>

            <div class="form-group row">

                <label for="reps" class="form-label">Reps:</label>
                <input type="number" class="form-control" id="reps" name="reps" [(ngModel)]="exerciseInTraining.reps"
                    required />
                <div class="form-group row">
                </div>

                <label for="sets" class="form-label">Sets:</label>
                <input type="sets" class="form-control" id="sets" name="sets" [(ngModel)]="exerciseInTraining.sets"
                    required />
                <div class="form-group row">
                </div>

                <label for="orderDay" class="form-label">Orden para realizarlo (dia)</label>
                <input type="number" class="form-control" id="orderDay" name="orderDay" min="1"
                    [(ngModel)]="exerciseInTraining.orderDay" required />
            </div>
            <div class="form-group row">

                <label for="orderWeek" class="form-label">Orden para realizarlo (semana)</label>
                <input type="number" class="form-control" id="orderWeek" name="orderWeek" min="1"
                    [(ngModel)]="exerciseInTraining.orderWeek" required />
            </div>

            <div class="form-group row">

                <button type="submit" class="btn btn-primary mt-2">
                    Guardar ejercicio
                </button>
                <button class="btn btn-danger mt-3" (click)="limpiarLista()">
                    Limpiar lista
                </button>
            </div>
        </form>
    </div>
</div>
<form class="exercise-select-form" (ngSubmit)="deleteTraining()">
    <div class="form-group">
        <label for="trainingSelect">Selecciona un entrenamiento para eliminarlo:</label>
        <select class="form-control" id="trainingSelect" [(ngModel)]="selectedTrainingId" name="trainingSelect">
            <option *ngFor="let training of trainings" [value]="training.idTraining">{{ training.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>