
<a class="recipeButton" role="button" data-bs-toggle="modal" [attr.data-bs-target]="'#recipeModal' + recipe.idRecipe" (click)="firstLoad()">{{ recipe.name }}</a>
<div
    class="modal fade modal-backdrop" 
    [id]="'recipeModal' + recipe.idRecipe"
    tabindex="-1"
    role="dialog"
    aria-labelledby="recipeModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recipeModalLabel">
                    {{ recipe.name }}
                </h5>
                <a
                    role="button"
                    id="close"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    X
                </a>
            </div>
            <div class="modal-body">
                <img
                    [src]="completeRecipe.recipe.imageUrl"
                    alt="{{ recipe.name }}"
                    class="img-fluid mb-3"
                />
                <p>{{ completeRecipe.recipe.calories }} calorías</p>
                <h6>Ingredientes:</h6>
                <ul>
                    <li *ngFor="let ingredient of completeRecipe.ingredientInRecipe">
                        <p> {{ingredient.quantity * 100}} gramos de {{ingredient.ingredient?.name}}</p>
                    </li>
                </ul>
                <h6>Pasos:</h6>
                <ol>
                    <li *ngFor="let step of steps">{{ step }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
