li{
    text-align: left;
}

.modal{
    z-index: 1800;
}

.modal-backdrop {
    --bs-backdrop-bg: #00000049; 
    --bs-backdrop-opacity: 1;
    width: 100%;
    height: 100%;
}

.recipeButton{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.recipeButton:hover{
    cursor: pointer;
    color: rgb(72, 107, 68);
}



