<div class="container mt-1 goback">
    <button class="btn btn-success mt-2" (click)="goBack()" >Volver a la página principal</button>
</div>
<div class="container mt-5">
    
    <h1>Bienvenido Admin</h1>

    <div class="ingredient">
        <app-ingredient></app-ingredient>
    </div>
    <div class="recipe-admin">
        <app-recipe-admin></app-recipe-admin>
    </div>
    <div class="diet-admin">
        <app-diet-admin></app-diet-admin>
    </div>
    <div class="exercise">
        <app-exercise></app-exercise>
    </div>
    <div class="training">
        <app-training></app-training>
    </div>
</div>

<app-footer></app-footer>

