.container{
    
    display: flex;
    width: 100%;
    max-width: 70%;
    /* gap: 3rem; */

    justify-content: flex-start;
    align-items: center;
    box-shadow: rgb(195, 194, 194) 15px 15px 15px, rgb(195, 194, 194) -15px -15px 15px;
    margin: auto;
    padding: 0;
}

img{
    width: 50%;
    max-height: 100vh;
}

.imgRegistro{
    background-image: url(../../../assets/IMG/register.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

/* Media Queries */
@media (max-width: 1200px) {
    .container {
        max-width: 90%; 
    }
    form {
        padding: 4rem; 
    }
}

@media (max-width: 992px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }
    .imgRegistro, form {
        width: 100%;
    }
    .imgRegistro {
        height: 50vh; 
    }
    form {
        padding: 2rem; 
    }
}

@media (max-width: 768px) {
    .imgRegistro {
        display: none; 
    }
    form {
        width: 100%; 
        padding: 1rem; 
    }
}