<h3>Entrenamiento</h3>
<div class="container">
    <a role="button"
        class="pic1"
        data-bs-toggle="modal"
        data-bs-target="#modalEntrenamiento"

    >
        
    </a>
    <a role="button"
        class="pic1"
        data-bs-toggle="modal"
        data-bs-target="#modalEntrenamiento"

    >
        
    </a>
    <a role="button"
        class="pic1"
        data-bs-toggle="modal"
        data-bs-target="#modalEntrenamiento"

    >
        
    </a>
</div>
<div
    class="modal fade modal-backdrop"
    id="modalEntrenamiento"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entrenamiento</h5>
                <a
                    role="button"
                    id="close"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    X
                </a>
            </div>
            <div class="modal-body">hola</div>
        </div>
    </div>
</div>
