<h3>Entrenamiento</h3>
<div class="container">
    <a
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#modalEntrenamiento"
    >
    <div class="pic1"></div>
    </a>
    <a
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#modalEntrenamiento"
    >
    <div class="pic2"></div>
    </a>
    <a
        role="button"
        data-bs-toggle="modal"
        data-bs-target="#modalEntrenamiento"
    >
    <div class="pic1"></div>
    </a>
</div>
<div
    class="modal fade modal-backdrop"
    id="modalEntrenamiento"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Entrenamiento</h5>
                <a
                    role="button"
                    id="close"
                    class="close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                >
                    X
                </a>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <img
                                    style="
                                        width: 100%;
                                        margin-right: 25px;
                                        margin-bottom: 5px;
                                        border: 1px solid lightgrey;
                                    "
                                    src="https://www.entrenamientos.com/uploads/exercise/aperturas-pectoral-trx-init-pos-8706.jpeg"
                                    alt="Aperturas de pectoral Trx"
                                />
                            </div>
                            <div class="col-md-12" style="text-align: justify">
                                <p></p>
                                <p><strong>POSICIÓN INICIAL:</strong></p>
                                <p>
                                    Suspenda su TRX a la altura de la rodilla.
                                    Agarre las asas con un agarre neutro y
                                    coloque sus piernas juntas detrás de usted.
                                    Su posición debe verse como una posición de
                                    push up. Mantenga su cuerpo en línea recta y
                                    sus brazos completamente extendidos
                                    retrayendo los omóplatos. Contraiga el suelo
                                    pelvico y el core mientras mantiene su
                                    cuerpo recto. Sus brazos deben estar
                                    perpendiculares al suelo y sus hombros deben
                                    estar justo debajo de las cuerdas del trx.
                                </p>
                                <p><strong> EJECUCIÓN:</strong></p>
                                <p>
                                    Comience a bajar abriendo las manos hasta
                                    que su pecho esté a la altura de sus manos
                                    mientras inhala. Empuje su torso hacia la
                                    posición inicial apretando el resto del
                                    cuerpo mientras exhala. Asegúrese de que sus
                                    escápulas siempre están retraídas y de no
                                    doblar los codos.
                                </p>
                                <strong>CONSEJOS:</strong> La clave del
                                ejercicio es la calidad sobre la cantidad. El
                                truco es realizar el ejercicio con la forma
                                adecuada. No deje que las caderas caigan.
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
