*{
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
    
}

.pic {
    display: block; 
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

.exerciseData{
    display: flex;
    justify-content: center;
}

.modal {
    z-index: 1113 ;
}

.modal-backdrop {
    --bs-backdrop-bg: #00000049; 
    --bs-backdrop-opacity: 1;
    width: 100%;
    height: 100%;
}

.modal-dialog{
    background-color: white !important;
    opacity: 1 !important;
}

.modal-content{
    background-color: white  !important;
}

.close{
    font-weight: bold;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    text-decoration: none;
}