/* Estilo base para .container */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

/* Estilo base para .pic */
.pic {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

/* Media query para dispositivos pequeños (móviles) */
@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
    }

    .pic {
        height: 150px;
        width: 150px;
    }
}

/* Media query para tablets */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pic {
        height: 250px;
        width: 250px;
    }
}

/* Media query para dispositivos grandes (desktops) */
@media screen and (min-width: 1200px) {
    .pic {
        height: 300px;
        width: 300px;
    }
}

/* Otros estilos */
.modal, .modal-content, .modal-dialog, .modal-body {
    border-radius: 8px;
}

.exerciseData {
    display: flex;
    justify-content: center;
}

.modal {
    z-index: 1113;
}

.modal-backdrop {
    --bs-backdrop-bg: #00000049;
    --bs-backdrop-opacity: 1;
    width: 100%;
    height: 100%;
}

.modal-dialog {
    background-color: white !important;
    opacity: 1 !important;
}

.modal-content {
    background-color: white !important;
}

.close {
    font-weight: bold;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

.errorMessage {
    display: flex;
}
