
.ingredient-form .form-group {
    margin-bottom: 1rem; /* Puedes ajustar el valor según tu preferencia */
}

label{
    font-size:medium;
    font-weight:500;
    color: rgb(91, 90, 90);
    
}
input{
    max-width: fit-content;
}