<h1>Administrar Dietas</h1>
<div class="container">
    <div class="col-md-12">
        <form (ngSubmit)="registrarDiet(dietForm.value)" #dietForm="ngForm">
            <div class="form-group">
                <label for="name">Nombre de la dieta:</label>
                <input type="text" class="form-control" id="name" name="name" ngModel>
            </div>
            <div class="form-group select-group">
                <label for="allergy">Alergias</label>
                <ngx-select-dropdown [(ngModel)]="filteredAllergies" name="allergy" (change)="onAllergySelected()"
                    [config]="{displayKey: 'name',  search: true, placeholder:'Alergias'}" [multiple]="true"
                    [options]="allergies" class="w-100"></ngx-select-dropdown>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Día</th>
                        <th *ngFor="let mealTime of mealTime">{{ mealTime | transformadorEnum }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let day of dayOfWeek; let i = index">
                        <td>{{ day | transformadorEnum }}</td>
                        <td *ngFor="let mealTime of mealTime; let j = index">
                            <select name="recipeInDiet" id="recipe" class="form-control" ngModel
                                (ngModelChange)="saveIngredients($event, day, mealTime)">
                                <option value=""></option>
                                <option *ngFor="let recipe of recipes" [ngValue]="recipe">{{ recipe.name }} {{
                                    recipe.calories }} calorias </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-danger mt-2" (click)="limpiarLista()">Limpiar</button>
            <button type="submit" class="btn btn-primary mt-2">Guardar</button>
        </form>
    </div>
</div>
<form class="recipe-select-form" (ngSubmit)="deleteDiet()">
    <div class="form-group">
        <label for="dietSelect">Selecciona una dieta para eliminar:</label>
        <select class="form-control" id="dietSelect" [(ngModel)]="selectedDietId" name="dietSelect">
            <option *ngFor="let diet of diets" [value]="diet.idDiet">{{ diet.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>