
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
}
h1{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
/* MENU NAVEGACIÓN SUPERIOR DERECHA */
.fixed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Color de fondo gris claro */
    padding: 10px 20px;
  }
  
  .logo-container h1 {
    color: #000; /* Color del texto en negro */
    margin: 0;
    padding: 1rem;
    width: 100%;
    margin-left: 20%;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .nav-menu {
    flex-grow: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-items li {
    display: inline-block;
    margin-right: 20px; 
  }
  
  .nav-items li:last-child {
    margin-right: 0; 
  }
  
  .nav-items li a {
    color: #000; 
    text-decoration: none;
  }
  .menu-icon {
    display: none;
}
  

/* FIN MENÚ NAVEGACIÓN SUPERIOR DERECHA */
  /* *Media query para pantallas pequeñas* */
@media screen and (max-width: 800px) {
  /* Ocultar el menú de navegación normal */
  .nav-menu {
    display: none !important;
  }

  /* Estilos para el menú hamburguesa */
.menu-icon {
  display: block;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 10px;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #38686A;
  padding: 1rem;
}

/* Mostrar el menú desplegable cuando el botón de menú hamburguesa es clickeado */
.menu-icon.active + .dropdown-menu {
  display: block;
}

/* Estilos para los enlaces en el menú desplegable */
.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  margin-bottom: 1rem;
}

.dropdown-menu ul li a {
  display: block;
  text-decoration: none;
  color: white;
}

}
