.profile {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* margin-top: 20rem; */
}

.entrenamiento,
.dieta {
    margin-bottom: 3rem;
}

.trainingDiet {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.btn {
    background-color: #268F00;
    border-color: #268F00;
}
.btn:hover {
    background-color: #2CA300;
    border-color: #2CA300;
}
