.profile {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* margin-top: 20rem; */
}

.buscador{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* margin-top: 20rem; */
}

.entrenamiento,
.dieta {
    margin-bottom: 3rem;
}

.trainingDiet {

    padding-bottom: 5rem;
    width: 60%;
    margin: 0 auto;
}

