<app-header-home></app-header-home>
<app-profile class="profile"></app-profile>

<app-buscador-ejercicios></app-buscador-ejercicios>


<div class="trainingDiet">
    <h3>Entrenamiento</h3>
    <button class="btn btn-success entrenamiento" (click)="verEntrenamiento()">Ver Entrenamiento</button>
    <app-entrenameinto class="entrenamiento" *ngIf="showEntrenamiento"></app-entrenameinto>

    <h3>Dieta</h3>
    <button class="btn btn-primary dieta" (click)="verDieta()">Ver Dieta</button>
    <app-diet *ngIf="showDieta" class="dieta"></app-diet>
    <!-- <app-shopping-list></app-shopping-list> -->
</div>
<app-footer></app-footer>