<app-header-home></app-header-home>
<div class="container">
    <h1 class="text-center">Blog</h1>
    <div class="row mt-4">
      <div class="col-md-4 mb-4" *ngFor="let blog of blogs">
        <div class="card">
          <img class="card-img-top" [src]="blog.image" alt="Blog Image">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
