<div class="profile">
    <div
        class="modal fade"
        id="formulario"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formulario</h5>
                    <button
                        type="button"
                        data-bs-dismiss="modal"
                        class="btn btn-danger btn-icon ms-2">
                            <span class="fas fa-times-circle"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-client-form
                        (aceptarFormulario)="cerrarModal()"
                    ></app-client-form>
                </div>
            </div>
        </div>
    </div>
    <app-update-img
        (onCloseModal)="cerrarModal()"
    ></app-update-img>
    <img
        class="pic"
        [src]="user.img"
        alt=""
        data-bs-toggle="modal"
        data-bs-target="#modalImgUpdate"
    />
    <app-update-profile></app-update-profile>
    <div class="info">
        <h1>{{ user.username }} <a 
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#updateProfileModal"
            ><span class="icon fas fa-pen"></span></a></h1> 
        <p class="quote">{{ frase }}</p>
    </div>

    <div class="logros">
        <app-logro nombre="Dietas" [numero]="1"></app-logro>
        <app-logro nombre="Ejercicios" [numero]="2"></app-logro>
        <app-logro nombre="Días entrenados" [numero]="3"></app-logro>
    </div>

    <div class="formularioCliente">
        <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#formulario"
        >
            Completa el Formulario
        </button>
    </div>
</div>

