.profile{
    background-image: url(../../../assets/IMG/fondoAcuarela1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    width: 80%;
    position: relative;
    top: -8rem;
    z-index: 1112;
    border-radius: 2rem;
    padding: 2rem;
    padding-top: 9rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.pic{
    background-color: aquamarine;
    border-radius: 100%;
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translate(-50%, -50%);
    float: left;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logros{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Color oscuro semitransparente */
}

.modal-header{
    display: flex;
    /* justify-content: flex-end; */
}

.close{
    font-weight: bold;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    text-decoration: none;
}

.formularioCliente{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.quote{
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
    max-width: 80%;
}

.btn {
    background-color: #268F00;
    border-color: #268F00;
}

.btn:hover {
    background-color: #2CA300;
    border-color: #2CA300;
}