<form #clientForm="ngForm" (ngSubmit)="registrarCliente(clientForm.value)">

    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre" name="name" ngModel required>
    </div>

    <div class="form-group">
        <label for="lastName">Apellido</label>
        <input type="text" class="form-control" id="lastName" placeholder="Apellido" name="lastName" ngModel required>
    </div>

    <div class="form-group">
        <label for="birthDate">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="birthDate" placeholder="Fecha de Nacimiento" name="birthDate"
            ngModel required>
    </div>

    <div class="form-group select-group">
        <label for="gender">Género</label>
        <select class="form-control" id="gender" name="gender" ngModel required>
            <option value=""></option>
            <option value="MALE">Masculino</option>
            <option value="FEMALE">Femenino</option>
        </select>
    </div>

    <div class="form-group select-group">
        <label for="plan">Plan</label>
        <select class="form-control" id="plan" name="plan" ngModel required>
            <option value=""></option>
            <option value="BASICO">Basico</option>
            <option value="PREMIUM">Premium</option>
        </select>
    </div>

    <div class="form-group">
        <label for="weight">Peso</label>
        <input type="number" class="form-control" id="weight" placeholder="Peso" name="weight" ngModel required>
    </div>

    <div class="form-group">
        <label for="height">Altura</label>
        <input type="number" class="form-control" id="height" placeholder="Altura" name="height" ngModel required>
    </div>

    <div class="form-group select-group">
        <label for="goal">Objetivo</label>
        <select class="form-control" id="goal" name="goal" ngModel required>
            <option value=""></option>
            <option value="BUILD_MUSCLE_MASS">Desarrollar masa muscular</option>
            <option value="INCREASE_STRENGTH_ENDURANCE">Incrementar resistencia y fuerza</option>
            <option value="IMPROVE_CARDIOVASCULAR_FITNESS">Mejorar la condición cardiovascular</option>
            <option value="LOSE_WEIGHT_REDUCE_BODY_FAT">Perder peso / Reducir grasa corporal</option>
            <option value="ENHANCE_FLEXIBILITY_MOBILITY">Mejorar la flexibilidad / Movilidad</option>
            <option value="IMPROVE_OVERALL_HEALTH_WELLBEING">Mejorar la salud / Bienestar general</option>
            <option value="TRAIN_FOR_SPECIFIC_SPORT_EVENT">Entrenar para un evento deportivo específico</option>
            <option value="REHABILITATE_FROM_INJURY_MEDICAL_CONDITION">Rehabilitarse de una lesión / Condición médica
            </option>
            <option value="BOOST_ENERGY_LEVELS_REDUCE_STRESS">Aumentar los niveles de energía / Reducir el estrés
            </option>
            <option value="ACHIEVE_SPECIFIC_AESTHETIC_PHYSIQUE_GOAL">Lograr un objetivo estético / físico específico
            </option>
        </select>
    </div>


    <div class="form-group">
        <label for="injuries">Lesiones</label>
        <input type="text" class="form-control" id="injuries" placeholder="Lesiones" name="injuries" ngModel required>
    </div>

    <div class="form-group select-group">
        <label for="allergy">Alergias</label>
        <select class="form-control" id="allergy" name="allergy" ngModel required>
            <option value=""></option>
            <option value="PEANUTS">Peanuts</option>
            <option value="DAIRY">Dairy</option>
            <option value="GLUTEN">Gluten</option>
            <option value="SHELLFISH">Shellfish</option>
            <option value="SOY">Soy</option>
            <option value="EGG">Egg</option>
            <option value="FISH">Fish</option>
            <option value="TREE_NUTS">Tree Nuts</option>
            <option value="WHEAT">Wheat</option>
            <option value="SESAME">Sesame</option>
        </select>
    </div>

    <div class="form-group select-group">
        <label for="jobType">Tipo de trabajo</label>
        <select class="form-control" id="jobType" name="jobType" ngModel required>
            <option value=""></option>
            <option value="SEDENTARY">Sedentario</option>
            <option value="ACTIVE">Activo</option>
            <option value="VERYACTIVE">Muy Activo</option>
        </select>
    </div>

    <div class="form-group select-group">
        <label for="previousLevel">Nivel Previo</label>
        <select class="form-control" id="previousLevel" name="previousLevel" ngModel required>
            <option value=""></option>
            <option value="NUNCA_ENTRENADO">No he entrenado nunca</option>
            <option value="A_VECES">Entreno a veces</option>
            <option value="A_DIARIO">Entreno a diario</option>
        </select>
    </div>

    <div class="form-group select-group">
        <label for="consumedSubstances">¿Consumes alguna de estas sustancias?</label>
        <select class="form-control" id="consumedSubstances" name="consumedSubstances" ngModel required>
            <option value=""></option>
            <option value="ALCOHOL">Alcohol</option>
            <option value="TABACO">Tabaco</option>
            <option value="BOTH">Ambas</option>
            <option value="NONE">Ninguna</option>
        </select>
    </div>

    <div class="form-group select-group">
        <label for="trainingTime">Tiempo para entrenar</label>
        <select class="form-control" id="trainingTime" name="trainingTime" ngModel required>
            <option value=""></option>
            <option value="1">1 día a la semana</option>
            <option value="2">2 días a la semana</option>
            <option value="3">3 días a la semana</option>
            <option value="4">4 días a la semana</option>
            <option value="5">5 días a la semana</option>
            <option value="6">Todos los días de la semana</option>
        </select>
    </div>

    <div class="form-group select-group">
        <label for="dietAndExerciseFrequency">Cada cuánto quieres crear una dieta y ejercicios</label>
        <select class="form-control" id="dietAndExerciseFrequency" name="dietAndExerciseFrequency" ngModel required>
            <option value=""></option>
            <option value="Todos los meses">Todos los meses</option>
            <option value="Cada dos semanas">Cada dos semanas</option>
        </select>
    </div>

    <button type="submit" [disabled]="clientForm.invalid" class="btn btn-primary btnAceptar">
        Aceptar
    </button>
</form>