<form (ngSubmit)="registrarCliente(clientForm.value)" class="form" #clientForm="ngForm">
    <div class="form-group select-group">

        <label for="birthDate">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="birthDate" name="birthDate" ngModel [(ngModel)]="currentClient.birthDate" required />
    </div>

    <div class="form-group select-group">
        <label for="gender">Género</label>
        <select name="gender" id="gender" class="form-control" ngModel [(ngModel)]="currentClient.gender" required>
            <option value=""></option>
            <option *ngFor="let item of gender" value="{{item}}">{{item | transformadorEnum}}</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>

    <div class="form-group select-group">
        <label for="weight">Peso</label>
        <input type="number" class="form-control" id="weight" name="weight" placeholder="Peso (kg)" ngModel [(ngModel)]="currentClient.weight" required />
    </div>

    <div class="form-group select-group">
        <label for="height">Altura</label>
        <input type="number" class="form-control" id="height" name="height" placeholder="Altura(cm)" ngModel [(ngModel)]="currentClient.height" required />
    </div>

    <div class="form-group select-group">
        <label for="objetivo">Objetivo</label>
        <select name="goal" id="goal" class="form-control" ngModel [(ngModel)]="currentClient.goal" required>
            <option value=""></option>
            <option *ngFor="let item of goal" value="{{item}}">{{item | transformadorEnum}}</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>

    <div class="form-group select-group">
        <label for="injury">Lesiones</label>
        <ngx-select-dropdown ngModel [(ngModel)]="currentClient.injury" [instanceId]="'instance1'" name="injury"
            [config]="{displayKey: 'name', search: true, placeholder:'Lesiones'}" [multiple]="true" [options]="injuries"
            class="w-100"></ngx-select-dropdown>
    </div>

    <div class="form-group select-group">
        <label for="allergy">Alergias</label>
        <ngx-select-dropdown ngModel [(ngModel)]="currentClient.allergy" [instanceId]="'instance1'" name="allergy"
            [config]="{displayKey: 'name',  search: true, placeholder:'Alergias'}" [multiple]="true"
            [options]="allergies" class="w-100"></ngx-select-dropdown>
    </div>

    <div class="form-group select-group">
        <label for="tipoDeTrabajo">Tipo de trabajo</label>
        <select name="jobType" id="jobType" class="form-control" ngModel [(ngModel)]="currentClient.jobType">
            <option value=""></option>
            <option *ngFor="let item of jobTypes" [value]="item">{{item | transformadorEnum}}</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>

    <div class="form-group select-group">
        <label for="consumo">¿Consumes alguna de estas sustancias? </label>
        <select name="consumedSubstances" id="consumedSubstances" class="form-control" ngModel [(ngModel)]="currentClient.consumedSubstances">
            <option value=""></option>
            <option *ngFor="let item of consumedSubstances" [value]="item">{{item | transformadorEnum}}</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>

    <div class="form-group select-group">
        <label for="nivelPrevio">Nivel Previo</label>
        <select name="previousLevel" class="form-control" ngModel [(ngModel)]="currentClient.previousLevel">
            <option value=""></option>
            <option *ngFor="let item of previusLevel" [value]="item">{{item | transformadorEnum}}</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>

    <div class="form-group select-group">
        <label for="trainingTime">Tiempo para entrenar</label>
        <select name="trainingTime" id="trainingTime" class="form-control" ngModel [(ngModel)]="currentClient.trainingTime">
            <option value="1">1 día a la semana</option>
            <option value="2">2 días a la semana</option>
            <option value="3">3 días a la semana</option>
            <option value="4">4 días a la semana</option>
            <option value="5">5 días a la semana</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>

    <div class="form-group select-group">
        <label for="typeTraining">Lugar donde entrenar</label>
        <select name="typeTraining" id="typeTraining" class="form-control" ngModel [(ngModel)]="currentClient.typeTraining">
            <option value=""></option>
            <option *ngFor="let item of typeTraining" [value]="item">{{item | transformadorEnum}}</option>
        </select>
        <i class="fas fa-caret-down flecha"></i>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
        <button type="button" (click)="clearErrorMessage()" class="btn btn-danger btn-icon mt-2 close">
          <span class="fas fa-times-circle"></span>
        </button>
      </div>
    <button type="submit" class="btn btn-primary btnAceptar">
        Aceptar
    </button>
</form>