<form #userForm="ngForm" (ngSubmit)="logearUsuario(userForm.value)">
    <h2>Log in</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Username"
            ngModel required
        />
    </div>
    <input type="hidden" name="email">
    <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="************"
            ngModel required
        />
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
            >I agree to sale my soul to <strong>the Devil</strong>
        </label>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Sign in</button>
    <a href="/register" class="btn-link">I dont´t have an account</a>
</form>
