.container img{
    width: 6rem;
    height: 6rem;
    border-radius: 4px;
}

.container img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.container img.selected{
    border: 1px solid rgb(79, 79, 79);
}

.close{
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    text-decoration: none;
}