.container img{
    width: 6rem;
    height: 6rem;
    border-radius: 4px;
}

.container img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}