<div class="modal fade" id="modalImgUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Elige tu foto de perfil</h5>
                <a role="button" id="close" class="close" data-bs-dismiss="modal" aria-label="Close"> X
                </a>
            </div>
            <div class="modal-body">
                <div class="container">
                    <img [src]="url" alt="" *ngFor="let url of urls" (click)="updateImg(url)" [ngClass]="{ 'selected': url === userStore.user.img }">
                </div>
            </div>
        </div>
    </div>
</div>