
<table>
    <thead>
        <tr>
            <th class="weekDay"></th>
            <th>Desayuno</th>
            <th>Comida</th>
            <th>Snack</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lunes</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('LUNES', 'DESAYUNO')"></app-recipe></td>
            <td> <app-recipe class="recipe" [recipe]="findRecipe('LUNES', 'ALMUERZO')"></app-recipe> </td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('LUNES', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('LUNES', 'CENA')"></app-recipe></td>
        </tr>
        <tr>
            <td>Martes</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MARTES', 'DESAYUNO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MARTES', 'ALMUERZO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MARTES', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MARTES', 'CENA')"></app-recipe></td>
        </tr>
        <tr>
            <td>Miercoles</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MIERCOLES', 'DESAYUNO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MIERCOLES', 'ALMUERZO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MIERCOLES', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('MIERCOLES', 'CENA')"></app-recipe></td>
        </tr>
        <tr>
            <td>Jueves</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('JUEVES', 'DESAYUNO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('JUEVES', 'ALMUERZO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('JUEVES', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('JUEVES', 'CENA')"></app-recipe></td>
        </tr>
        <tr>
            <td>Viernes</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('VIERNES', 'DESAYUNO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('VIERNES', 'ALMUERZO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('VIERNES', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('VIERNES', 'CENA')"></app-recipe></td>
        </tr>
        <tr>
            <td>Sábado</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('SABADO', 'DESAYUNO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('SABADO', 'ALMUERZO')"></app-recipe></td>
            <td><app-recipe class="recipe"  [recipe]="findRecipe('SABADO', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('SABADO', 'CENA')"></app-recipe></td>
        </tr>
        <tr>
            <td>Domingo</td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('DOMINGO', 'DESAYUNO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('DOMINGO', 'ALMUERZO')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('DOMINGO', 'SNACK')"></app-recipe></td>
            <td><app-recipe class="recipe" [recipe]="findRecipe('DOMINGO', 'CENA')"></app-recipe></td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-success mt-2" (click)="showShoppingListModal()">Lista de la compra</button>
<app-shopping-list *ngIf="showShoppingList" ></app-shopping-list>
<a href="mailto:xyz@example.com?Subject=Hello&body=links:  %0D 
         http://link1.com  %0D http://link1.com " target="_top">Share this diet by Mail</a>