<form #userForm="ngForm" (ngSubmit)="registrarUsuario(userForm.value)">
    <h2>Sign up</h2>

    <div class="form-group">
        <label for="name">Name</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="name"
            ngModel required
        />
    </div>
    <div class="form-group">
        <label for="userName">Username</label>
        <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
            placeholder="Username"
            ngModel required
        />
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="email"
            ngModel required
        />
        <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.
        </small>
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input
            type="password"
            class="form-control"
            id="pass"
            name="pass"
            placeholder="************"
            ngModel required
        />
    </div>
    <!-- <div class="form-group">
        <label for="repeatPassword">Repeat Password</label>
        <input
            type="password"
            class="form-control"
            id="repeatPassword"
            placeholder="************"
            required
        />
    </div> -->
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="agreeCheckbox" required />
        <label class="form-check-label" for="agreeCheckbox"
            >I agree to sell my soul to <strong>the Devil</strong>
        </label>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Register</button>
</form>
