<div class="row">
  <div class="col-md-6">
    <h4>Ingresa una nueva receta</h4>
    <form (ngSubmit)="registrarRecipe(recipeForm.value)" #recipeForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre de la receta:</label>
        <input type="text" class="form-control" id="name" name="name" ngModel>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    </form>
    <ul class="list-group mt-3">
      <li class="list-group-item" *ngFor="let addedIngredient of ingredientsInRecipe">
        {{ addedIngredient.quantity * 100 }} gramos de {{ addedIngredient.ingredient?.name }}
      </li>
    </ul>
    <button class="btn btn-danger mt-3" (click)="limpiarLista()">Limpiar lista</button>
  </div>
  <div class="col-md-6">
    <h4>Añadir Ingrediente para receta</h4>
    <form (ngSubmit)="registraIngredientInRecipe(ingredientInRecipeForm.value)" #ingredientInRecipeForm="ngForm">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="quantity">Cantidad(100gr):</label>
          <input type="number" id="quantity" class="form-control" name="quantity" ngModel>
        </div>
        <div class="form-group col-md-6">
          <label for="ingredient">Ingrediente:</label>
          <select name="ingredient" id="ingredient" class="form-control" ngModel>
            <option value=""></option>
            <option *ngFor="let item of ingredient" [ngValue]="item">{{item.name}}</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Añadir Ingrediente</button>
    </form>
  </div>
</div>

