<h1>Administrar Receta</h1>
<div class="container">
  <div class="father">
    <form (ngSubmit)="registrarRecipe(recipeForm.value)" #recipeForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre de la receta:</label>
        <input type="text" class="form-control" id="name" name="name" ngModel />
        <label for="steps">Pasos de la receta (Separar por puntos):</label>
        <textarea class="form-control" id="steps" name="steps" ngModel rows="4"></textarea>
        <label for="imageUrl">Enlace para la foto de la receta:</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" ngModel />
        <div class="form-group select-group">
          <label for="allergy">Contiene:</label>
          <ngx-select-dropdown ngModel [instanceId]="'instance1'" name="allergy"
            [config]="{displayKey: 'name',  search: true, placeholder:'Contiene:'}" [multiple]="true"
            [options]="allergies" class="w-100"></ngx-select-dropdown>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Guardar</button>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
        <button type="button" (click)="clearErrorMessage()" class="btn btn-danger btn-icon mt-2 close">
          <span class="fas fa-times-circle"></span>
        </button>
      </div>
    </form>
    <ul class="list-group mt-3">
      <li class="list-group-item" *ngFor="let addedIngredient of ingredientsInRecipe">
        {{ addedIngredient.quantity * 100 }} gramos de
        {{ addedIngredient.ingredient?.name }}
      </li>
    </ul>
    <button class="btn btn-danger mt-3" (click)="limpiarLista()">
      Limpiar lista
    </button>
  </div>
  <div class="child">
    <h6>Añadir Ingrediente para receta</h6>
    <form (ngSubmit)="
                registraIngredientInRecipe(ingredientInRecipeForm.value)
            " #ingredientInRecipeForm="ngForm">
      <div class="form-group">
        <label for="quantity">Cantidad (100gr):</label>
        <input type="number" id="quantity" class="form-control" name="quantity" ngModel />
      </div>
      <div class="form-group">
        <label for="ingredient">Ingrediente:</label>
        <select name="ingredient" id="ingredient" class="form-control" ngModel>
          <option value=""></option>
          <option *ngFor="let item of ingredient" [ngValue]="item">
            {{ item.name }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-2">
        Añadir Ingrediente
      </button>
    </form>
  </div>
</div>
<form class="recipe-select-form" (ngSubmit)="deleteRecipe()">
  <div class="form-group">
    <label for="recipeSelect">Selecciona una receta para eliminar:</label>
    <select class="form-control" id="recipeSelect" [(ngModel)]="selectedRecipeId" name="ingredientSelect">
      <option *ngFor="let recipe of recipes" [value]="recipe.idRecipe">{{ recipe.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-danger">Eliminar</button>
</form>