<h1>Administrar Ejercicios</h1>
<div class="container">
    <div class="father">

        <form (submit)="saveExercise()">
            <label for="name">Nombre:</label><br />
            <input type="text" id="name" name="name" [(ngModel)]="exercise.name" required /><br />

            <label for="initialPosition">Posición inicial:</label><br />
            <textarea id="initialPosition" name="initialPosition" [(ngModel)]="exercise.initialPosition"rows="4"
            cols="40"></textarea><br />

            <label for="execution">Ejecución:</label><br />
            <textarea id="execution" name="execution" [(ngModel)]="exercise.execution" rows="4"
                cols="40"></textarea><br />

            <label for="advices">Advice:</label><br />
            <textarea id="advices" name="advices" [(ngModel)]="exercise.advices" rows="4" 
            cols="40" required></textarea><br />

            <label for="imgExercise">URL Imagen:</label><br />
            <input id="imgExercise" name="imgExercise" type="text" [(ngModel)]="exercise.imgExercise" /><br />

            <label for="typeTraining">Tipo de Entrenamiento:</label><br />
            <select id="typeTraining" name="typeTraining" [(ngModel)]="exercise.typeTraining" required>
                <option value=""></option>
                <option *ngFor="let item of typeTraining" value="{{item}}">{{item | transformadorEnum}}</option>
            </select>

            <div class="form-group select-group">
                <label for="muscle">Musculos involucrados</label>
                <ngx-select-dropdown [(ngModel)]="exercise.muscle" name="muscle"
                    [config]="{displayKey: 'name',  search: true, placeholder:'Selecionar'}" [multiple]="true"
                    [options]="muscle" class="w-100"></ngx-select-dropdown>
            </div>
            <button type="submit" class="btn btn-primary mt-2">
                Guardar Ejercicio
            </button>
        </form>
    </div>
    <form class="exercise-select-form" (ngSubmit)="deleteExercise()">
        <div class="form-group">
            <label for="exerciseSelect">Selecciona un exercise para eliminar:</label>
            <select class="form-control" id="exerciseSelect" [(ngModel)]="selectedExerciseId" name="exerciseSelect">
                <option *ngFor="let exercise of exercises" [value]="exercise.idExercise">{{ exercise.name }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>
</div>